$bg-color: #111; /* slate-900 */
$text-primary: #e2e8f0; /* slate-200 */
$text-secondary: #94a3b8; /* slate-400 */
$text-muted: #64748b; /* slate-500 */
$accent-color: #4f46e5; /* indigo-600 */
$border-color: rgba(255, 255, 255, 0.1);

$ot-color: #3b82f6; /* blue-500 */
$nt-color: #ef4444; /* red-500 */
/*
    PATH
*/
$path-image: '../images';

/*
    FONT-WEIGHT
*/

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
